[Unit]
Description=Alterar papel de parede usando SWWW
After=swww.service

[Service]
ExecStart=/bin/bash /home/leonardson/.config/swww/swww.sh

[Install]
WantedBy=default.target
